.skills{
    /* height: 100vh; */
    padding: 20px 10px;
    text-align: center;
}

.skills__title{
    font-weight: bold;
    color: var(--cinza-claro);
    margin: 20px 0px;

}
.skills__line{
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 10px;
}

.skills__img{
    width: 4rem;
    height: 4rem;
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 14px -14px #282828;
    transition: all 1s;
    font-size: 2rem;
}

.skills__img:hover{
    /* background-color: var(--cinza-claro); */
    color: var(--vermelho-claro);
}
    .skills__name{
    display: none;
}

